<?xml version="1.0" encoding="utf-8"?>
<manifest package="ajitsingh.com.androiduisessions"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".demo.DemoActivity"/>

        <activity android:name=".session1.Session1"/>
        <activity android:name=".session1.DpSpAndPixel"/>
        <activity android:name=".session1.basic_layouts.BasicLayouts"/>
        <activity android:name=".session1.basic_layouts.ScrollViewDemo"/>
        <activity android:name=".session1.basic_layouts.ScrollViewWithListView"/>
        <activity android:name=".session1.PaddingVsMargin"/>

        <activity android:name=".session2.Session2"/>
        <activity android:name=".session2.PullToRefresh"/>
        <activity android:name=".session2.DragAndDrop"/>
        <activity android:name=".session2.DraggableView"/>
        <activity android:name=".session2.StickyHeader"/>
        <activity android:name=".session2.CustomAnimation"/>
        <activity android:name=".session2.ActivityTransition"/>
        <activity android:name=".session2.DummyActivity"/>
    </application>
</manifest>
